.sidenav-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 24px;
    text-align: center;

    > img {
        border-radius: 100%;
        object-fit: cover;
        margin-bottom: 10px;
        text-align: center;
    }

    .header-text {
        > h2 {
            margin: 0;
            font-size: 1.5rem;
            font-weight: 1.5rem;
        }

        > p {
            margin: 0;
            font-size: 0.8rem;
            font-weight: 1rem;
        }
    }
}
